body { 
	font-family: arial;
	color: #59453E;
	background-color: #C8C8C8; 
	background-color: hsl(0,0%,78%); 
	}

	h1 { 
		color: black;
		background-color: #8FB6BF;
		text-shadow: 4px 4px 14px #969696;
		}

	h2 {
		color: black;
		background-color: aliceblue;
		}
		
	h3 {
		text-decoration:underline
		}
		
		a:link {color:#92A697;opacity: 0.5;}    /* unvisited link */
		a:active {color:#0000FF;}  /* selected link */
	
